# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [18]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
file_path = "../WeatherPy/Output/cities.csv"
df = pd.read_csv(file_path)
df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Helena,46.5927,-112.0361,75.20,15,1,12.66,US,1619834410
1,Saint-Philippe,-21.3585,55.7679,73.40,78,0,6.91,RE,1619834361
2,Mataura,-46.1927,168.8643,55.00,74,93,7.00,NZ,1619834413
3,Hong Kong,22.2855,114.1577,81.00,80,98,1.01,HK,1619834129
4,Thompson,55.7435,-97.8558,32.00,100,90,5.75,CA,1619834316
...,...,...,...,...,...,...,...,...,...
568,Hauterive,46.0901,3.4459,48.20,87,90,1.14,FR,1619835045
569,Culebra,18.3030,-65.3010,78.80,69,1,6.91,PR,1619835047
570,Itakyry,-24.9333,-55.2167,62.60,82,0,3.33,PY,1619835049
571,Lugovskoy,56.9585,64.5290,33.80,51,0,6.71,RU,1619835049
572,Aykhal,66.0000,111.5000,30.83,95,100,14.34,RU,1619835050

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [12]:
#set locations as lat and lng, and weights as humidity
locations = df[["Lat", "Lng"]].astype(float)
humid = df["Humidity"].astype(float)
#configure gmaps
gmaps.configure(api_key=g_key)

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humid, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)

fig.add_layer(heat_layer)


fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [13]:
vacation_df = df.loc[(df["Max Temp"] > 70) & (df["Max Temp"] < 80) & (df["Cloudiness"] == 0) & (df["Wind Speed"] < 10), :]
vacation_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
1,Saint-Philippe,-21.3585,55.7679,73.40,78,0,6.91,RE,1619834361
20,Atuona,-9.8000,-139.0333,79.36,68,0,1.25,PF,1619834431
26,Cayenne,4.9333,-52.3333,78.01,94,0,2.30,GF,1619834436
229,Korla,41.7597,86.1469,74.86,12,0,4.90,CN,1619834676
255,Doha,25.2867,51.5333,78.80,73,0,5.75,QA,1619834714
270,Ţahţā,26.7693,31.5021,73.40,18,0,8.05,EG,1619834727
284,Saint-Leu,-21.1500,55.2833,73.40,78,0,6.91,RE,1619834749
316,Suez,29.9737,32.5263,74.80,23,0,9.10,EG,1619834785
331,Sakakah,29.9697,40.2064,77.00,15,0,5.75,SA,1619834797
364,Morondava,-20.2833,44.2833,74.70,80,0,5.77,MG,1619834834
395,Deqing,30.5448,119.9599,78.01,50,0,7.00,CN,1619834869
419,Saint-Pierre,-21.3393,55.4781,73.40,78,0,6.91,RE,1619834888
431,Touros,-5.1989,-35.4608,75.20,88,0,4.61,BR,1619834902
481,Mossamedes,-15.1961,12.1522,75.25,72,0,6.93,AO,1619834770
486,Zinder,13.8072,8.9881,78.53,8,0,6.42,NE,1619834964

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [14]:
hotel_df = vacation_df
hotel_df["Hotel Name"] = ""
hotel_df

/Users/staceydougherty/opt/anaconda3/envs/Virtual_Env/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
1,Saint-Philippe,-21.3585,55.7679,73.40,78,0,6.91,RE,1619834361,
20,Atuona,-9.8000,-139.0333,79.36,68,0,1.25,PF,1619834431,
26,Cayenne,4.9333,-52.3333,78.01,94,0,2.30,GF,1619834436,
229,Korla,41.7597,86.1469,74.86,12,0,4.90,CN,1619834676,
255,Doha,25.2867,51.5333,78.80,73,0,5.75,QA,1619834714,
270,Ţahţā,26.7693,31.5021,73.40,18,0,8.05,EG,1619834727,
284,Saint-Leu,-21.1500,55.2833,73.40,78,0,6.91,RE,1619834749,
316,Suez,29.9737,32.5263,74.80,23,0,9.10,EG,1619834785,
331,Sakakah,29.9697,40.2064,77.00,15,0,5.75,SA,1619834797,
364,Morondava,-20.2833,44.2833,74.70,80,0,5.77,MG,1619834834,
395,Deqing,30.5448,119.9599,78.01,50,0,7.00,CN,1619834869,
419,Saint-Pierre,-21.3393,55.4781,73.40,78,0,6.91,RE,1619834888,
431,Touros,-5.1989,-35.4608,75.20,88,0,4.61,BR,1619834902,
481,Mossamedes,-15.1961,12.1522,75.25,72,0,6.93,AO,1619834770,
486,Zinder,13.8072,8.9881,78.53,8,0,6.42,NE,1619834964,

In [27]:
# params dictionary to update each iteration
params = {
    "radius": 5000,
    "types": "hotel",
    "key": g_key
}

# Use the lat/lng we recovered to identify airports
for index, row in vacation_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    response = requests.get(base_url, params=params).json()
    
    #pprint(response)
    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        hotel_df.loc[index, "Hotel Name"] = response["results"][1]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

/Users/staceydougherty/opt/anaconda3/envs/Virtual_Env/lib/python3.6/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [28]:
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
1,Saint-Philippe,-21.3585,55.7679,73.40,78,0,6.91,RE,1619834361,"Chambres d'hôte ""La Trinité"""
20,Atuona,-9.8000,-139.0333,79.36,68,0,1.25,PF,1619834431,Banque Socredo
26,Cayenne,4.9333,-52.3333,78.01,94,0,2.30,GF,1619834436,Hôtel Le Dronmi
229,Korla,41.7597,86.1469,74.86,12,0,4.90,CN,1619834676,Korla No.2 Elementary School
255,Doha,25.2867,51.5333,78.80,73,0,5.75,QA,1619834714,Movenpick Hotel Doha
270,Ţahţā,26.7693,31.5021,73.40,18,0,8.05,EG,1619834727,Post Office - Shatoura
284,Saint-Leu,-21.1500,55.2833,73.40,78,0,6.91,RE,1619834749,Église du Sacré-Cœur de Saint-Leu
316,Suez,29.9737,32.5263,74.80,23,0,9.10,EG,1619834785,مسجد الحرمين
331,Sakakah,29.9697,40.2064,77.00,15,0,5.75,SA,1619834797,Fakhamat Al Orjoana Apartment
364,Morondava,-20.2833,44.2833,74.70,80,0,5.77,MG,1619834834,La Case Bambou
395,Deqing,30.5448,119.9599,78.01,50,0,7.00,CN,1619834869,德清县实验学校
419,Saint-Pierre,-21.3393,55.4781,73.40,78,0,6.91,RE,1619834888,Alizé Plage
431,Touros,-5.1989,-35.4608,75.20,88,0,4.61,BR,1619834902,INN NEW HORIZON
481,Mossamedes,-15.1961,12.1522,75.25,72,0,6.93,AO,1619834770,Pavilhão Welwitschia Mirabilis
486,Zinder,13.8072,8.9881,78.53,8,0,6.42,NE,1619834964,Alizza

In [29]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [32]:
# Add marker layer ontop of heat map

markers = gmaps.marker_layer(locations)
fig.add_layer(markers)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))